<div class = "main_top">
  <div class = "title_contents">
    <div class="rainbow_title">SHUWA WE GO !!</div>
  </div>

  <div class = "items">
    <div class = "btns">
      <div class = "start_btn">
        <%= link_to 'START', questions_path, class: "start_white_btn" %>
      </div>
      <div class = "create_btn">
        <%= link_to 'クイズ作成', new_question_path, class: "create_white_btn" %>
      </div>
    </div>
  </div>
</div>