<div class = "main">
  <div class = "titile_contents">
    <div class = "title">
      SHUWA WE GO !!
    </div>
  </div>

  <div class = "items">
    <div class = "btns">
      <%= link_to 'START', "#", class: "atart_btn" %>
    </div>
  </div>
</div>