/* トップページ */
.body,html{
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.main_top{
  background-image: url("star.jpg");
  height: 100vh;
}

.title_contents{
  height: 70vh;
}

/* タイトル */
.title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0 20px;
  font-size: 5em;
  color: #ffd700;
  text-shadow: 0 0 50px #ffd700;
  letter-spacing: 5px;
  -webkit-text-stroke-width: 7px;
  /* -webkit-text-stroke-color: #ffd700;
  -webkit-text-fill-color: #ffd700; */
}

.title:after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #ffd700;
  filter: blur(15px);
}

.title:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd700;
  z-index: -2;
  opacity: .3;
  filter: blur(50px);
}
/* タイトル */

.items{
  height: 100vh - 70vh;
}

.start_btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.start_white_btn{
  text-decoration: none;
  font-size: 40px;
  color: white;
  -webkit-text-stroke-width: 2px;
  position: relative;
}

.start_white_btn:after {
  content: '';
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform .5s ease;
  height: 1px;
  width: 100%;
}
.start_white_btn:hover:after {
  transform: scaleX(1);
}

.create_btn{
  text-align: right;
  margin-right: 5vw;
  margin-top: 150px;
}

.create_white_btn{
  text-decoration: none;
  font-size: 20px;
  color: white;
  -webkit-text-stroke-width: 1px;
  position: relative;
}

.create_white_btn:after {
  content: '';
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform .5s ease;
  height: 1px;
  width: 100%;
}
.create_white_btn:hover:after {
  transform: scaleX(1);
}
/* トップページ */

/* 問題画面 */

.main{
  height: 100vh;
  background-image: url("star.jpg");
}

.header{
  background-color: red;
  height: 5vh;
}

.video{
  /* background-color: royalblue; */
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video_view{
  height: 340px;
  width: 600px;
}

.hints{
  /* background-color: salmon; */
  height: 15vh;
  color: white;
  padding-top: 50px;
}

.hint_title{
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.hint{
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.answers_list{
  /* background-color: seagreen; */
  height: 40vh;
}

.answers{
  font-size: 30px;
  margin-left: 25%;
  padding-top: 120px;
  display: flex;
}

.left{
  display: flex;
  flex-direction: column;
}

.right{
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.answer_a{
  text-decoration: none;
  color: white;
}

.answer_b{
  text-decoration: none;
  color: white;
}

.answer_c{
  padding-top: 35px;
  text-decoration: none;
  color: white;
}

.answer_d{
  padding-top: 35px;
  text-decoration: none;
  color: white;
}

/* クイズ作成画面 */

/* .header{
  background-color: red;
  height: 5vh;
} */

.page_title{
  background-color: black;
  height: 10vh;
  -webkit-text-stroke-width: 3px;
}

/* new question */

h1 {
  display: flex;
  justify-content: center;
  height: 56px;
  font-size: 70px;
  color: #ffd700;
  animation: neonBlur 16s infinite;
  font-weight: 300;
}
h1 > span:nth-child(1) {
  opacity: .5;
  font-weight: 800;
}
h1 > span:nth-child(2) {
  animation: neonBlink 5s infinite;
}
h1 > span:nth-child(3) {
  opacity: .4;
}
h1 > span:nth-child(4) {
  animation: neonBlink 2s infinite;
}

@keyframes neonBlink {
  0% { opacity: 1; }
  10% { opacity: .6; }
  12% { opacity: 1; }
  15% { opacity: .4; }
  17% { opacity: 1; }
  18% { opacity: .3; }
  19% { opacity: 1; }
  89% { opacity: 1; }
  91% { opacity: .7; }
  94% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes neonBlur {
  0% { text-shadow: 0px 0px 25px #ffd700; }
  50% { text-shadow: 0px 0px 75px #ffd700; filter: blur(0.5px) }
  100% { text-shadow: 0px 0px 25px #ffd700; }
}

/* new question */

.new_questions{
  padding-top: 60px;
  font-size: 30px;
  background-color: violet;
  height: 85vh;
  text-align: center;
}

.choice_video{
  margin-top: 10px;
}

.new_answers_list{
  margin-top: 40px;
}

.new_correct{
}

.correct_box{
  margin-top: 10px;
  height: 50px;
}

.new_wrong{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.choice_wrong{
  padding-left: 30px;
}

.wrong_box{
  height: 50px;
}

.new_hint{
  margin-top: 40px;
}

.hint_box{
  margin-top: 10px;
  height: 150px;
  width: 600px;
}

.submit{
  margin-top: 40px;
}