/* トップページ */
.body,html{
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.main_top{
  background-image: url("star.jpg");
  height: 100vh;
}

.title_contents{
  height: 70vh;
}

/* トップページタイトル */
.title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0 20px;
  font-size: 5em;
  color: #ffd700;
  text-shadow: 0 0 50px #ffd700;
  letter-spacing: 5px;
  -webkit-text-stroke-width: 7px;
  /* -webkit-text-stroke-color: #ffd700;
  -webkit-text-fill-color: #ffd700; */
}

.title:after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #ffd700;
  filter: blur(15px);
}

.title:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd700;
  z-index: -2;
  opacity: .3;
  filter: blur(50px);
}
/* トップページタイトル */

.items{
  height: 100vh - 70vh;
}

.start_btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.create_btn{
  text-align: right;
  margin-right: 5vw;
  margin-top: 150px;
}

.create_white_btn{
  text-decoration: none;
  font-size: 20px;
  color: white;
  -webkit-text-stroke-width: 1px;
  position: relative;
}

.create_white_btn:after {
  content: '';
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform .5s ease;
  height: 1px;
  width: 100%;
}
.create_white_btn:hover:after {
  transform: scaleX(1);
}
/* トップページ */

/* 問題画面 */

.main{
  height: 100vh;
  background-image: url("star.jpg");
}

.header{
  /* background-color: red; */
  height: 5vh;
}

.video{
  /* background-color: royalblue; */
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video_view{
  height: 340px;
  width: 600px;
}

.hints{
  /* background-color: salmon; */
  height: 15vh;
  color: white;
  padding-top: 50px;
}

.hint_title{
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.hint{
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.answers_list{
  /* background-color: seagreen; */
  height: 40vh;
}

.answers{
  font-size: 30px;
  margin-left: 30%;
  padding-top: 120px;
  display: flex;
}

.left{
  display: flex;
  flex-direction: column;
}

.right{
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.answer_a{
  padding-bottom: 35px;
  text-decoration: none;
  color: white;
}

.answer_b{
  padding-bottom: 35px;
  text-decoration: none;
  color: white;
}

.answer_c{
  padding-bottom: 35px;
  text-decoration: none;
  color: white;
}

.answer_d{
  padding-bottom: 35px;
  text-decoration: none;
  color: white;
}
