
.body,html{
  height: 100vh;
}

.main{
  height: 100%;
}

.titile_contents{
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
}

.items{
  height: 100vh - 70vh;
}

.start_btn{
  display: flex;
  align-items: center;
  justify-content: center;
}


.create_btn{
  text-align: right;
  margin-right: 5vw;
  margin-top: 150px;
}

.header{
  background-color: red;
  height: 10vh;
}

.video{
  background-color: royalblue;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video_view{
  height: 340px;
  width: 600px;
}

.hints{
  background-color: salmon;
  height: 10vh;
}

.questions{
  background-color: seagreen;
  height: 40vh;
}